name: CI

on:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-slim
    permissions:
      contents: read
      pull-requests: write
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10.21.0

      - uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Run Biome with reviewdog
        uses: mongolyy/reviewdog-action-biome@dbe7192276cbc6cd32369a21f525ed02438c3e26 # v2.5.0
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          level: warning
          filter_mode: nofilter

  build:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v5

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          version: 10.21.0

      - uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm build
