name: Deploy
on:
  workflow_dispatch: {}
  push:
    branches:
      - main

jobs:
  deploy-worker:
    name: Deploy Worker
    runs-on: ubuntu-latest
    outputs:
      worker-url: ${{ steps.wrangler-deploy.outputs.deployment-url }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build worker
        run: pnpm build:worker

      - name: Deploy worker
        id: wrangler-deploy
        uses: cloudflare/wrangler-action@da0e0dfe58b7a431659754fdf3f186c529afbe65 # v3.14.1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: worker

  deploy-web:
    name: Deploy Web
    needs: deploy-worker
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build web
        run: |
          echo "worker url: ${VITE_CONTACT_FORM_ENDPOINT}"
          pnpm build:web
        env:
          VITE_CONTACT_FORM_ENDPOINT: ${{ needs.deploy-worker.outputs.worker-url }}/api/contact

      - uses: actions/configure-pages@v5

      - uses: actions/upload-pages-artifact@v4
        with:
          path: web/dist

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4
