name: Pinact Check

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/**'

jobs:
  pinact-check:
    runs-on: ubuntu-slim
    permissions:
      contents: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.0

      - name: Run pinact
        uses: suzuki-shunsuke/pinact-action@49cbd6acd0dbab6a6be2585d1dbdaa43b4410133 # v1.0.0
        with:
          skip_push: "true"
